/* global.css or index.css */

body {
    font-family: 'ABeeZee', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
  }

  .center-text {
    text-align: center;
  }

  .navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .main-banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative
  }

  .banner-text {
    font-weight: bold;
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    padding: 5px; /* Optional: for some spacing around the text */
    color: #ffffff; /* Adjust the color as needed */
    font-size: 3em; /* Adjust the size as needed */
  }

  .main-banner-child {
    width: 100%; /* Full width */
    height: 150px; /* Example fixed height - adjust as needed */
    object-fit: contain; /* This will cover the area without distorting the aspect ratio */
  }
  
  .main-banner img {
    max-width: 100%;
    height: auto;
  }
  
  .menu {
    background: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  .menu-item {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    background: #fff;
  }
  
  .menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* This will space out the items evenly */
  align-items: stretch; /* This will make sure all items stretch to the same height */
}

.menu-item {
  flex-basis: calc(33.333% - 20px); /* Adjust the percentage and subtraction to control width and spacing */
  margin: 10px; /* This provides space between the items */
  box-sizing: border-box; /* This ensures padding and borders are included in the width */
}

.menu-item img {
  max-width: 100%; /* This makes sure the image does not overflow its container */
  height: auto; /* This keeps the image aspect ratio */
}
  
  .menu-item h3 {
    font-family: 'Alfa Slab One', cursive;
  }
  
  .promotions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust the height as needed */
  }
  
  .promotion-item {
    text-align: center; /* This will center the text inside the promotion-item */
  }

  .promotions-container {
    display: flex;
    justify-content: center; /* This will center the child items */
    flex-wrap: wrap; /* This allows items to wrap to the next line if needed */
  }

  button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #4cae4c;
  }
  
  .contact, .cart {
    background: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
  }