body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

/* First layer */
.first-layer-content {
    padding: 20px 0;
    animation: fadeIn 1s ease-in-out;
}

.Website-description {
    background-color: #e9ecef;
    height: 550px;
    background-size: cover;
    align-items: center;
    background-image: url('https://cdn.discordapp.com/attachments/1155849215927406703/1196735252190744597/first_layer.png?ex=65b8b58e&is=65a6408e&hm=5241421cee2ca8b7f75b69aa1b7039e1bb4c0ac8454e4e3428de35c4d15f8028&'); 
    background-size: cover;
    background-position: center;
}

.Website-description h2 {
    margin-top: 290px; /* Adjust the top margin as needed */
    margin-left: 20px; /* Adjust the left margin as needed */
    margin-right: 20px; /* Adjust the right margin as needed */
}

.Website-description p {
    margin-bottom: 20px; /* Adjust the bottom margin as needed */
    margin-left: 20px; /* Adjust the left margin as needed */
    margin-right: 20px; /* Adjust the right margin as needed */
}

/* Second layer */
.search-bar {
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out;
}

.rounded-search {
    border-radius: 15px 0 0 15px; /* Adjust the radius to your preference */
    border: 1px solid #ccc;
    padding: 10px;
}

.search-bar button {
    border-radius: 0 15px 15px 0; /* Adjust the radius to your preference */
}

.restaurant-name {
    font-weight: bold;
    /* Add any other styles for the restaurant name text here */
}

.restaurant-logo {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s;
    animation: fadeIn 1s ease-in-out;
}

.restaurant-logo:hover {
    transform: scale(1.1);
}

/* borda layer */
#app {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
#app h1 {
    color: #333;
}
#app button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
#candidates, #results {
    margin-top: 20px;
}
.candidate {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
}
.candidate button {
    background-color: #ff6961;
    color: #fff;
    border: none;
    cursor: pointer;
}
#bordaLayer {
    background-color: #FFEFD0;
}
button:disabled {
    background-color: #CCCCCC; /* Light gray background for disabled buttons */
}
.rank-box {
    display: inline-block;
    padding: 5px;
    border: 1px solid #ccc;
    margin-left: 10px;
    background-color: #35b4ae;
}
.candidates-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.candidates-table th, .candidates-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.rank-cell {
    text-align: center;
}
.selected {
    background-color: #ffeeba; /* Light yellow background for selected candidates */
}
.results-table {
    width: 100%; /* Adjust as needed */
    border-collapse: collapse;
}
.results-table th, .results-table td {
    border: 1px solid #ddd; /* Border styling */
    padding: 8px; /* Padding for cells */
    text-align: left; /* Adjust text alignment */
}

/* third layer */
.about-us {
    background-color: #343a40;
    color: white;
    padding: 50px 0;
    animation: fadeIn 1s ease-in-out;
}

.team-member-logo {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s;
    animation: fadeIn 1s ease-in-out;
}

.team-member-logo:hover {
    transform: scale(1.1);
}

.social-media-icons {
    position: absolute;
    top: 100px; /* Adjust the position as needed */
    left: 50%;
    transform: translateX(-50%);
}

.social-media-icon {
    justify-content: space-around;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.custom-offset {
    margin-right: 200px; /* Adjust the value to move it to the right */
}

/* fourth layer */
.section {
    padding: 80px 0;
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
}
#fourthlayer {
    background-color: #212529;
}

/* footer */
.footer {
    background-color: #212529;
    color: white;
    padding: 20px 0;
    animation: fadeIn 1s ease-in-out;
}

/* animation*/
.fadeIn {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s, transform 0.8s;
}

.fade-in-visible {
    opacity: 1;
    transform: translateY(0);
}

.highlighted {
    background-color: yellow; /* or any other highlighting style */
}


/* ... Other styles ... */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* mobile small screen 320px */
@media (min-width: 320px) {
    /* First layer */
    .Website-description {
        height: 400px;
    }
    .Website-description h2 {
        margin-top: 150px; 
        margin-left: 10px; 
        margin-right: 100px; 
    }
    .Website-description p {
        margin-bottom: 20px; 
        margin-left: 10px; 
        margin-right: 100px; 
        font-size: 10px;
    }


    /* Second layer */
    .search-bar {
        max-width: 320px;
    }
    .rounded-search {
        padding: 5px;
    }
    .search-bar button {
        padding: 5px;
    }
}

/* mobile medium screen 375px */
@media (min-width: 375px) {
    /* First layer */
    .Website-description {
        height: 500px;
    }
    .Website-description h2 {
        margin-top: 190px; 
        margin-left: 10px; 
        margin-right: 100px; 
    }
    .Website-description p {
        margin-bottom: 20px; 
        margin-left: 10px; 
        margin-right: 100px; 
    }

    /* Second layer */
    .search-bar {
        min-width: 375px;
    }
    .rounded-search {
        padding: 10px;
    }
    .search-bar button {
        padding: 10px;
    }
}

/* mobile large screen 425px */
@media (min-width: 425px) {
    /* First layer */
    .Website-description h2 {
        margin-top: 210px; 
        margin-left: 10px; 
        margin-right: 100px; 
    }
    .Website-description p {
        margin-bottom: 20px; 
        margin-left: 10px; 
        margin-right: 100px; 
    }

    /* Second layer */
    .search-bar {
        max-width: 425px;
    }
    .rounded-search {
        padding: 15px;
        width: 250px;
    }
    .search-bar button {
        padding: 15px;
    }
}

/* tablet screen 768px */
@media (min-width: 768px) {
    /* Second layer */
    .search-bar {
        max-width: 768px;
    }
    .rounded-search {
        padding: 15px 15px;
        width: 400px;
    }
}

/* laptop screen 1024px */
@media (min-width: 1024px) {
    /* First layer */
    .Website-description h2 {
        margin-top: 250px; 
        margin-left: 10px; 
        margin-right: 100px; 
    }
    /* Second layer */
    .search-bar {
        max-width: 1024px;
    }
    .rounded-search {
        padding: 15px 15px;
        width: 400px;
    }
}

/* laptop large screen 1440px */
@media (min-width: 1440px) {
    /* First layer */
    .Website-description h2 {
        margin-top: 290px; 
        margin-left: 100px; 
        margin-right: 20px; 
    }
    .Website-description p {
        margin-bottom: 20px; 
        margin-left: 100px; 
        margin-right: 20px; 
    }

    /* Second layer */
    .search-bar {
        max-width: 1440px;
    }
    .rounded-search {
        padding: 15px 15px;
        width: 400px;
    }
}

/* 4k screen 2560px */
@media (min-width: 2560px) {
    /* First layer */
    .Website-description h2 {
        margin-top: 290px; 
        margin-left: 100px; 
        margin-right: 20px; 
    }
    .Website-description p {
        margin-bottom: 20px; 
        margin-left: 100px; 
        margin-right: 20px; 
    }

    /* Second layer */
    .search-bar {
        max-width: 1440px;
    }
    .rounded-search {
        padding: 15px 15px;
        width: 400px;
    }
}